# vim swap files
*.swp
*.swo

# IDEs / editors
.idea/
.vscode/
.eslintrc.json
.ipynb_checkpoints/

# NPM packages
node_modules/
package-lock.json
*.tgz
yarn.lock

# compiled/installed js files
vipster-js-widget/index.js
vipster-js-widget/extension.js
vipster-js-widget/vipster.js

# python dist-stuff
build/
dist/
*.egg-info
