# vim swap files
*.swp
*.swo

# IDEs / editors
.idea/
.vscode/
.eslintrc.json
.ipynb_checkpoints/

# NPM packages
node_modules/
package-lock.json
*.tgz
yarn.lock

# dist-stuff
build/
dist/
*.egg-info
